:host {
    flex: 1;
    display: flex;
}
.main-container {
    background-color: #F3E8D2;
    border: 3px solid #D4A64A;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.main-title {
    color: #3B2314;
    font-size: 26px;
    margin-bottom: 20px;
}

.products-grid {
    margin-top: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 18px; 
    padding: 10px 20px;
}

