.card {
    background: #FFF7E8;
    border: 2px solid #D4A64A;
    border-radius: 12px;
    padding: 15px 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.card img {
    width: 90px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 8px 0 6px;
    font-size: 18px;
}

.card p {
    margin: 4px 0 8px;
    color: #3B2314;
    font-weight: bold;
}

.card button {
    width: 100%;
    background-color: #D4A64A;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.product-card {
    background-color: #FFF7E8;
    border: 2px solid #E8C77A;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.2s ease;
}

.product-card:hover {
    transform: scale(1.03);
    border-color: #D4A64A;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 18px;
    color: #3B2314;
    margin: 10px 0;
}

.precio {
    font-size: 16px;
    color: #5C3A23;
    font-weight: bold;
}

.btn-add {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #D4A64A;
    border: none;
    border-radius: 8px;
    color: #3B2314;
    font-weight: bold;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #E8C77A;
}
