<div class="categorias-container">
  <h2>Categorías</h2>

  <ul>
    <li (click)="seleccionarCategoria('')">Todas</li>

    <li *ngFor="let categoria of categorias"
        (click)="seleccionarCategoria(categoria)">
      {{ categoria }}
    </li>
  </ul>
</div>

<div>
  <button *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria)">
    {{ categoria }}
  </button>

  <div *ngFor="let producto of productosfiltrados">
    <p>{{ producto.titulo }} - {{ producto.precio }}€</p>
  </div>
</div>